@page "/createNewProfile"
@rendermode InteractiveServer

<h3>CreateProfile</h3>

@* <SelectCmp HtmlId="exampleSelect"
           Label="Example Select"
           Required="true"
           Placeholder="Choose an option"
           Value="@Value"
           Options="selectOptions"
           ValueChanged="OnValueChanged"
           Feedback="Choose an option"
           IsSuccess="false" /> *@


<Form>

</Form>