@page "/"
@rendermode InteractiveServer

<div class="container" style="display:flex; padding-top:20px;">
    <h4>Profiles</h4>
    @foreach (var Current in profiles)
    {
        <div class="col">
            <span>@Current.GivenName</span>
        </div>
    }
</div>
<ButtonCmp
    HtmlId="1h1h1"
    TypeBtn="submit"
    Label="Create new"
    HandleClick="HandleCreate"
    CssClass="btn-primary" />

<p>
    <code>GivenName</code>: @ProfileToCreate.GivenName
    <code>FamilyName</code>: @ProfileToCreate.FamilyNames
</p>

<Form OnSubmit="HandleCheckoutSubmit">
    <InputField HtmlId="givenName"
                Label="Given Name"
                Name="givenName"
                Placeholder="Enter your given name"
                @bind-Value="ProfileToCreate.GivenName"
                FormClass="form-control"
                FeedbackClass=""
                Feedback="" />
    <InputField HtmlId="familyNames"
                Label="Family Names"
                Name="familyNames"
                Placeholder="Enter your family names"
                @bind-Value="ProfileToCreate.FamilyNames"
                FormClass="form-control"
                FeedbackClass="feedback-class"
                Feedback="Required field" />
</Form>

@code {
    private async Task HandleCheckoutSubmit(EventArgs e)
    {
        // Simula un proceso de envío
        await Task.Delay(1000);
        // Lanza una excepción para probar el manejo de errores (opcional)
        // throw new Exception("Error al guardar los datos.");
    }
}
