@page "/"
@rendermode InteractiveServer

<div class="container" style="display:flex; padding-top:20px;">
    <h4>Profiles</h4>
    @foreach (var Current in profiles)
    {
        <div class="col">
            <span>@Current.GivenName</span>
        </div>
    }
</div>
<ButtonCmp
    HtmlId="1h1h1"
    TypeBtn="submit"
    Label="New btn"
    CssClass="btn-primary" />
<InputField
    Label="etiqueta"
    Placeholder="Name"
    Value=""
    FormClass="is-valid"
    Feedback="Error here"
    FieldType="text"
    FeedbackClass="valid-feedback" />


<Form OnSubmit="HandleCheckoutSubmit">
    <InputField Label="etiqueta"
                Placeholder="Name"
                Value=""
                FormClass="is-valid"
                Feedback="Error here"
                FieldType="text"
                FeedbackClass="valid-feedback" />
    <InputField Label="etiqueta"
                Placeholder="Name"
                Value=""
                FormClass="is-valid"
                Feedback="Error here"
                FieldType="text"
                FeedbackClass="valid-feedback" />
</Form>

@code {
    private async Task HandleCheckoutSubmit(EventArgs e)
    {
        // Simula un proceso de envío
        await Task.Delay(1000);
        // Lanza una excepción para probar el manejo de errores (opcional)
        // throw new Exception("Error al guardar los datos.");
    }
}
