@inherits ButtonCmpBase

@* onclick expexts te be defined on js files *@
@* @onclick expexts te be defined on cs code behind *@
<button class="btn @CssClass" @onclick="buttonHandleClick">Click</button>
