@* onclick expexts te be defined on js files *@
@* @onclick expexts te be defined on cs code behind *@
<button
    id="@HtmlId"
    type="@TypeBtn"
    disabled="@Disabled"
    class="btn @CssClass"
    @onclick="HandleClick">
    @Label
</button>
